.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 10px;
    padding: 0px;

}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.project-form textarea, .project-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.project {
    background-color: white;
    padding: 10px;
    text_decoration: none;
    text-align: center;

}
.project:link {
  text-decoration: none;
}

.project:hover {
  background-color: #989898;
}

.project h2{
   color:black;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 50p

}

img_div{
  background-color: red;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.project p{
    color:black;

}
.project_img{
     width: auto;
     height: 50%;
    padding: 5px;

}


.title_item{
    display: inline-block;
    vertical-align: middle;
     padding: 5px;
}


