{% extends 'app/index.html' %}
{% block content %}
<div class="content container">
    <div>
        <h2>{{ blog.title }}</h2>
    </div>
    <!--    Screen shot div-->
    <div></div>
    <div><p>{{ blog.text|linebreaksbr }}</p></div>
    <div class="date">
        <p>{{ blog.published_date }}</p>
    </div>
</div>
{% if user.is_authenticated %}
<div>
    <a href="{% url 'blog_edit' pk=blog.pk %}" class="add_overlay"><i class="fas fa-edit"></i></a>
</div>
{% endif %}
{% endblock %}

{% block activeblog %}
active
{% endblock %}