{% extends 'app/index.html' %}
{% block content %}
<div class="content container blog_new">
    <h2>New Blog Post</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <div class="form_button">
            <button type="submit" class="btn btn-default">Save</button>
            <button type="submit" id='delete_btn' name="delete" class="btn btn-default">Delete</button>
        </div>

    </form>
</div>
{% endblock %}

{% block activeblog %} active {% endblock %}