{% extends 'app/index.html' %}
{% block content %}
<div class="content container">
    <div class="cv_section">
        <div class="cv_header">
            <div>
                <h1>Education {% if user.is_authenticated %}<span>
                <a href="{% url 'cv_education_new' %}" class='cv_button' id='education_add_button'><i
                        class="fas fa-plus-circle"></i></a>
            </span>
                    {% endif %}</h1>
            </div>
        </div>
        {% for education in educations %}
        <div class="school_wrapper">
            <div class="left_right">
                <h3 class="school" id="left">{{ education.school }} <span>
            {% if user.is_authenticated %}
            <a href="{% url 'cv_education_edit' pk=education.pk %}" class='cv_button' id='edit_education_btn'><i
                    class="fas fa-edit"></i></a>
            {% endif %}
           </span></h3>
                <h3 class="location" id="right">{{ education.location }}</h3>
            </div>
            <div class="left_right">
                <h4 class="cv_subheader field_of_study" id="left">{{ education.field_of_study }}</h4>
                <h4 class="cv_subheader year" id="right">{{ education.start_year }}-{{ education.end_year }}</h4>
            </div>
            <div>
                <p>
                    {{ education.description|linebreaksbr }}
                </p>
            </div>

        </div>
        {% endfor %}
        <hr class="solid">
    </div>
    <div class="cv_section">
        <h1>Tech Skills {% if user.is_authenticated %}
            <span>
            <a href="{% url 'cv_tech_skils_new' %}" class='cv_button' id='add_tech_skills_btn'><i
                    class="fas fa-plus-circle"></i></a>
        </span>
            {% endif %}</h1>

        <ul class="two_column_list">
            {% for skill in skills %}
            <li>{{ skill.skill}}

                {% if user.is_authenticated %}
                <a href="{% url 'cv_tech_skils_edit' pk=skill.pk %}" id='edit_tech_skills_btn'><i
                        class="fas fa-edit cv_button"></i></a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <hr class="solid">
    </div>
    <div class="cv_section">
        <h1>Academic Projects {% if user.is_authenticated %}
            <span><a href="{% url 'cv_project_new' %}" class='cv_button' id='academic_projects_add_button'><i
                    class="fas fa-plus-circle"></i></a></span>
            {% endif %}</h1>
        {% for project in projects %}

        <div class="cv_project_wrapper">
            <div class="left_right">
                <h3 class="project_title" id="left">{{ project.title }} {% if user.is_authenticated %}
                    <span>

            <a href="{% url 'cv_project_edit' pk=project.pk %}" class='cv_button' id='academic_projects_edit_button'><i
                    class="fas fa-edit"></i></a>
        </span>
                    {% endif %}</h3>
                <h3 class="project_date" id="right">{{ project.start_date_mY }} - {{ project.end_date_mY }}</h3>
            </div>
            <div>
                {{ project.description | linebreaks }}

            </div>
        </div>
        {% endfor %}

        <hr class="solid">
    </div>
    <div sec class="cv_section">
        <h1>Work Experience {% if user.is_authenticated %}
            <span>
            <a href="{% url 'cv_work_experience_new' %}" class='cv_button' id='work_experience_add_button'><i
                    class="fas fa-plus-circle"></i></a>
        </span>
            {% endif %}</h1>
        {% for work in work_experience %}

        <div class="left_right">
            <h3 id="left" class="company">{{ work.company }} {% if user.is_authenticated %}
                <span>
            <a href="{% url 'cv_work_experience_edit' pk=work.pk %}" class='cv_button' id='work_experience_edit_button'><i
                    class="fas fa-edit"></i></a>
        </span>
                {% endif %}</h3>
            <h3 id="right" class="location">{{ work.location }}</h3>
        </div>
        <div class="left_right">
            <h4 class="cv_subheader title" id="left">{{ work.title }}</h4>
            <h4 class="cv_subheader date" id="right">{{ work.start_date_mY }} - {{ work.end_date_mY }} </h4>
        </div>
        <div>
            <p>
                {{ work.description|linebreaksbr }}
            </p>
        </div>
        {% endfor %}
        <hr class="solid">
    </div>


    <div class="cv_section">
        <h1>Awards and Achievements</h1>
        <ul>
            <li> 3 Bronze medal for archery in B.U.T.T.S competitions as a novice.</li>
            <li> Fluent in Thai.</li>
        </ul>
        <hr class="solid">
    </div>
    <a class="add_overlay download_pdf"
       href="https://drive.google.com/file/d/13pV6-1Tyd05-expns8AwaE7obMzrHKlK/view?usp=sharing"><i
            class="far fa-file-pdf"></i></a>
</div>

{% block overlay %}
{% endblock %}

{% endblock %}


{% block activecv %}
active
{% endblock %}