{% extends 'app/index.html' %}
{% block content %}
<div class="content container">
    <div class="cv_section">
        <h1>Education</h1>
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'cv_education_new' %}" id='education_add_button'><i class="fas fa-plus-circle"></i></a>
        </div>
        {% endif %}

        {% for education in educations %}
        <div class="school_wrapper">
            <div class="left_right">
                <h3 class="school" id="left">{{ education.school }}</h3>
                <h3 class="location" id="right">{{ education.location }}</h3>
            </div>
            <div class="left_right">
                <h4 class="cv_subheader field_of_study" id="left">{{ education.field_of_study }}</h4>
                <h4 class="cv_subheader year" id="right">{{ education.start_year }}-{{ education.end_year }}</h4>
            </div>
            <div>
                <p>
                    {{ education.description }}
                </p>
            </div>
            {% if user.is_authenticated %}
            <div><a href="{% url 'cv_education_edit' pk=education.pk %}" id='edit_education_btn'><i
                    class="fas fa-edit"></i></a></div>
            {% endif %}
        </div>
        {% endfor %}
        <hr class="solid">
    </div>
    <div class="cv_section">
        <h1>Tech Skills</h1>
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'cv_tech_skils_new' %}" id='add_tech_skills_btn'><i class="fas fa-plus-circle"></i></a>

        </div>
        {% endif %}
        <ul class="two_column_list">
            {% for skill in skills %}
            <li>{{ skill.skill}}
                {% if user.is_authenticated %}
                <a href="{% url 'cv_tech_skils_edit' pk=skill.pk %}" id='edit_tech_skills_btn'><i
                        class="fas fa-edit"></i></a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <hr class="solid">
    </div>
    <div sec class="cv_section">
        <h1>Work Experience</h1>
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'cv_work_experience_new' %}" id='work_experience_add_button'><i
                    class="fas fa-plus-circle"></i></a>

        </div>
        {% endif %}
        {% for work in work_experience %}
        <div>
            <a href="{% url 'cv_work_experience_edit' pk=work.pk %}" id='work_experience_edit_button'><i
                    class="fas fa-edit"></i></a>
        </div>
        <div class="left_right">
            <h3 id="left" class="company">{{ work.company }}</h3>
            <h3 id="right" class="location">{{ work.location }}</h3>
        </div>
        <div class="left_right">
            <h4 class="cv_subheader title" id="left">{{ work.title }}</h4>
            <h4 class="cv_subheader date" id="right">{{ work.start_date_mY }} - {{ work.end_date_mY }} </h4>
        </div>
        <div>
            <p>
                {{ work.description }}
            </p>
        </div>
        {% endfor %}
        <hr class="solid">
    </div>

    <div class="cv_section">
        <h1>Academic Projects</h1>
        <div><a href="{% url 'cv_project_new' %}" id='academic_projects_add_button'><i
                class="fas fa-plus-circle"></i></a></div>
        {% for project in projects %}
        <div class="cv_project_wrapper">
            <div class="left_right">
                <h3 id="left">{{ project.title }}</h3>
                <h3 id="right">{{ project.start_date_mY }} - {{ project.end_date_mY }}</h3>
            </div>
            <div>
                <p>
                    {{ project.description }}
                </p>
            </div>
        </div>
        {% endfor %}


        <hr class="solid">
    </div>
    <div class="cv_section">
        <h1>Awards and Achievements</h1>
        <ul>
            <li> 3 Bronze medal for archery in B.U.T.T.S competitions as a novice.</li>
            <li> Fluent in Thai.</li>
        </ul>
        <hr class="solid">
    </div>
    <a class="add_overlay download_pdf"
       href="https://drive.google.com/file/d/13pV6-1Tyd05-expns8AwaE7obMzrHKlK/view?usp=sharing"><i
            class="far fa-file-pdf"></i></a>
</div>

{% block overlay %}
{% endblock %}

{% endblock %}


{% block activecv %}
active
{% endblock %}